.movie {
    width: 30%;
}

.movie__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie__image {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.movie__title {
    margin-bottom: 10px;
}

.movie__year {
    border: 1px solid $color-grey-dark;
    padding: 3px 5px;
}